!!!
html
    head
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Geologic Map Units
        style(type="text/css").
            @font-face {
                font-family: "FGDCGeoAge";
                src: url('http://ncgmp09.github.io/dmu2html/fgdcgeo.ttf');
            }

            * {
                margin: 0px;
                padding: 0px;
            }

            li {
                list-style-type: none;
            }

            svg {
                width: 72px;
                height: 72px;
                position: relative;
                float: left;
            }

            .unit-label {
                font-family: "FGDCGeoAge";
                position: absolute;
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                margin-top: 5px;
                margin-left: 5px;
            }

            .description {
                margin-left: 88px;
            }

            .description-container {
                margin-top: 25px;
                padding: 0px 25px;
            }

            .description-title {
                position: relative;
                top: 5px;
                margin-bottom: 10px;
            }

            .clear-float { clear: both; }
    body
        ul
            each unit in dmu
                li.description-container
                    if !unit.isHeading
                        svg
                            rect(id!= unit.label + "-rect", width="60", height="60", x="5", y="5", fill!="rgb(" + unit.color.join(",") + ")", stroke="#000", stroke-width="2px")
                        .unit-label(id!= unit.label + "-label")= unit.label
                        .description
                            h3.description-title= unit.name
                            span= unit.description
                    else
                        .heading
                            h2.heading-title= unit.name
                    .clear-float